<div class="nav-container">
  <div class="nav-banner">
    <div class="flex-row" style="gap: 8px;">
      <input
        type="text"
        placeholder="Search the site"
        class="rounded-bdr search-bar"
      />
      <button class="search-btn">
        <img src="/icons/search-icon.svg" alt="search icon" />
      </button>
    </div>
    <div class="flex-row" style="gap: 16px;">
      <button class="flex-row" style="gap: 8px;">
        <img src="/icons/call-icon.svg" alt="phone icon" />
        <span style="color: #ffffff;">+44 (0)800 983 3321</span>
      </button>
      <button class="flex-row" style="gap: 8px;">
        <img src="/icons/call-icon.svg" alt="phone icon" />
        <span style="color: #ffffff;">+44 (0)207 183 4247 </span>
      </button>
    </div>
    <button class="flex-row rounded-bdr pill-btn pill-text">
      <span class="pill-text"> Our Other Site </span>
      <img src="/icons/irish-flag.svg" alt="Irish flag" />
    </button>
  </div>
  <div class="nav-bar">
    <div>
      <img
        src="/Logo-3D.jpg"
        alt="Vigilant Security Services Logo"
        class="nav-logo"
      />
    </div>
    <div></div>
    <button class="primary-btn"> Join Our Team </button>
  </div>
</div>
